body {
    background-color: #1C1C1C;
}

#main-container {
    width: 30%;
    height: 400px;
    text-align: center;
    margin: auto;
    border: 3px solid #3B413C;
    background-color: #1a2432;
}

#top-content {
    text-align: left;
    padding: 25px 60px;
}

hr {
    width: 80%;
    border: 1px solid #2F3E53;
}

#home-title {
    color: white;
    margin-bottom: 4px;
}

h2 {
    color: #D5D4D8;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 100;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

#random-title {
    color: #10B981;
}

#generate-btn {
    color: white;
    background-color: #10B981;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

#pwd-container {
    display: flex;
    justify-content: center;
}

.pwd-box {
    height: 20px;
    width: 150px;
    background-color: #273549;
    color: #10B981;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}